.CatalogueItem {
  background: none;
  color: var(--color-white);
  position: relative;
}

.CatalogueItemImage-container {
  /* position: relative; */
}
.CatalogueItemImage-main {
  width: 100%;
  border-radius: 8px;
}
.CatalogueItemImage-main--trending {
  width: 100%;
  border-radius: 8px;
}
.CatalogueItemImage-bookmark {
  position: absolute;
  top: 16px;
  right: 16px;
}
.CatalogueItemInfo-container--trending {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.CatalogueItemInfo-sub {
  opacity: 0.75;
}

.CatalogueItemInfo-sub .bullet-point {
  margin: 0 8px;
}

.CatalogueItemInfo-container--trending .CatalogueItemInfo-sub {
  font-size: 15px;
}

.CatalogueItemInfo-container:not(.CatalogueItemInfo-container--trending)
  .CatalogueItemInfo-sub {
  font-size: 13px;
  padding-top: 8px;
}
.CatalogueItemInfo-title {
  margin: 0;
  margin-top: 3px;
}
.CatalogueItemInfo-category-icon {
  margin-right: 6px;
}
