.CatalogueItems {
}

/* Make trending items "ignore" padding of layout. */
.CatalogueItems--trending {
  width: 103%;
}

.CatalogueItems-section-name {
}

.CatalogueItems-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  column-gap: 40px;
}
.CatalogueItems-grid--trending {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 470px;
  gap: var(--layout-gap);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-radius: 8px;
  padding-right: var(--layout-gap);
}
