.Nav {
  background: var(--color-semi-dark-blue);
  max-height: 90vh;
  width: var(--nav-width);
  border-radius: 20px;
  padding: 35px 32px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;

  /* Set value equal to padding of Layout. */
  /* Since Nav is a child of Layout, it will know what --layout-padding is. */
  top: var(--layout-padding);
}
.Nav-logo {
  margin-bottom: 75px;
}
.Nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: auto;
}
