:root {
  --color-red: #fc4747;
  --color-dark-blue: #10141e;
  --color-greyish-blue: #5a698f;
  --color-semi-dark-blue: #161d2f;
  --color-white: #fff;

  --font-family: Outfit, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@font-face {
  font-family: Outfit;
  src: url('../public/assets/fonts/Outfit-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  font-weight: 300;
}

h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

*.txt-small {
  font-size: 13px;
}
